[Unit]
Description=Clipboard history service
After=graphical.target

[Service]
Environment=CLIPBOARD_HISTORY_SOCKET=/tmp/clipboard.sock
Environment=RUST_BACKTRACE=full
Environment=WAYLAND_DEBUG=0
ExecStart=/home/ttancos/work/other/clip-history/target/release/clipboard-history
ExecStop=/bin/kill -INT ${MAINPID}

[Install]
WantedBy=multi-user.target
